@import "../../../assets/scss/modules/_vars.scss";

.info-selection {
  color: white;
  width: calc(100% - #{$section-margin});
  display: table;
  height: $section-height;
  margin: $section-margin;
  font-family: "Helvetica Monospaced";
}

@media (max-width: $cutoff-half) {
  .info-selection {
    height: 100%;
  }
}

ul {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0 0 0 0;

  li {
    padding: 1em;
  }
}

@media (max-width: $cutoff-half) {
  ul {
    display: inline-block;
    list-style-type: none;

    li {
      display: inline-block;
      list-style-type: none;
      padding: 0.25em;
    }

    h1 {
      font-size: 1.25em;
    }
  }
}

.active {
  color: $accent-bright;
  border-bottom: 2px solid $accent-less-bright;
}

button {
  color: #ddd;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid grey;
  width: 100%;

  h1 {
    text-transform: capitalize;
  }
}
