@import "../../../assets/scss/modules/_vars.scss";

.info-zone {
  display: flex;
  position: relative;
  flex-direction: row;
  min-height: $area-height;
  width: 100%;
  background-color: rgb(40, 44, 53);
  border-top: 0.25em solid #203e48;
}

app-selection {
  width: 25%;
}
.info-box {
  display: flex;
  font-family: "Helvetica Monospaced";
  justify-content: center;
  top: 50%;
  color: white;
  min-height: $section-height;
  width: calc(100% - #{$double-margin});
  margin: $section-margin;
  padding: $section-padding;
  border: 2px solid grey;
}

// set css for the actual component that the router renders
router-outlet + * {
  width: 100%;
}

@media (max-width: $cutoff-1) {
  .info-zone {
    flex-direction: column;
  }

  app-selection {
    width: 100%;
  }
}
