<div class="caption">
  <div
    class="caption-text name"
    [style]="nameStyle"
    role="button"
    (click)="nameClicked()"
  >
    <h1 class="noselect">Zac Gibson</h1>
  </div>
  <div class="caption-text subtitle" [style]="subtitleStyle">
    <h3 class="noselect">Full Stack Developer</h3>
  </div>
  <div class="caption-buttons" [style]="buttonStyle">
    <a aria-label="Email" href="mailto:zgibson@live.com">
      <fa-icon class="icon email" [icon]="emailIcon"></fa-icon>
    </a>
    <a aria-label="Github" target="_blank" href="https://github.com/cbackas">
      <fa-icon class="icon github" [icon]="githubIcon"></fa-icon>
    </a>
    <a
      aria-label="LinkedIn"
      target="_blank"
      href="https://www.linkedin.com/in/zac-gibson"
    >
      <fa-icon class="icon linkedin" [icon]="linkedinIcon"></fa-icon>
    </a>
  </div>
</div>
