@import "../../../assets/scss/modules/_vars.scss";

.caption {
  position: absolute;
  left: 1em;
  bottom: 8em;
  // width = 100% - 1em from the left
  width: calc(100% - 1em);
  // transform: translate(-50%, -50%);
  text-align: left;
  pointer-events: none;
  display: block;
  font-size: 1em;
}
.caption-text {
  font-family: "Helvetica Monospaced";
  font-weight: bold;
  color: white;
}

@media (max-width: $cutoff-half) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "left"
      "middle"
      "right";
  }
}

.name {
  pointer-events: auto;
  color: white;
  cursor: default;

  h1 {
    font-size: 3.25em;
    margin: 0 0 0 0;
  }
  width: 35%;
}

@media (max-width: $cutoff-half) {
  .name {
    width: 100%;
  }

  .caption {
    font-size: 0.75em;
  }
}

.subtitle {
  position: relative;
  width: 99%;
  padding: 0 0 0.5em 0;

  h3 {
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 0 0 0;
    transform: translate(0%, -50%);
  }
}

/*
* CAPTION-BUTTONS format
*/
.caption-buttons {
  display: flex;
  justify-content: left;
  margin: 1em 0 0 0;
  width: 15%;

  a {
    // no borders
    outline: 0 !important;
    border: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;

    padding: none;
    margin: none;
  }

  .icon {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    pointer-events: auto;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 6px;
    margin: 0 0.75em 0 0;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.5s;
  }

  .email {
    &:hover {
      color: #ddd;
      background: #1a222c;
    }

    &:active {
      color: #ddd;
      background: #1a222c;
    }
  }

  .github {
    &:hover {
      color: #ddd;
      background: #0366d6;
    }

    &:active {
      color: #ddd;
      background: #0366d6;
    }
  }

  .linkedin {
    &:hover {
      color: #ddd;
      background: #0e76a8;
    }

    &:active {
      color: #ddd;
      background: #0e76a8;
    }
  }


}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
