// pass these styles through to the component
@import "./styles/_caption.scss";
@import "./styles/_scroll-down.scss";

.landing-zone {
  height: 100vh;
  width: 100%;
  background-color: rgb(25, 27, 28);
}
