<section class="landing-zone">
    <particles [style]="myStyles" [params]="myParams" [width]="width" [height]="height"></particles>
    <div class="caption">
        <div class="caption-text">
            <h1 class="name">Zac Gibson</h1>
            <h3 class="subtitle">Software Developer</h3>
        </div>
        <div class="caption-buttons">
            <a aria-label="Email" href="mailto:zgibson@live.com">
                <fa-icon class="icon" [icon]="emailIcon"></fa-icon>
            </a>
            <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/zac-gibson">
                <fa-icon class="icon" [icon]="linkedinIcon"></fa-icon>
            </a>
            <a aria-label="Github" target="_blank" href="https://gitlab.com/cbackas">
                <fa-icon class="icon" [icon]="gitlabIcon"></fa-icon>
            </a>
        </div>
    </div>
    <fa-icon class="scroll-button" [icon]="scrollIcon"></fa-icon>
</section>