<div class="item" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
  <div [hidden]="!hovering">
    <a class="ui right corner label grey" href="{{ project.url }}">
      <fa-icon [icon]="externalLinkIcon"></fa-icon>
    </a>
  </div>
  <div class="item-grid">
    <div class="icon">
      <div class="img">
        <img src="{{ project.icon }}" />
      </div>
    </div>
    <div class="name">
      <h2>{{ project.name }}</h2>
    </div>
    <div class="description">
      {{ project.description }}
    </div>
    <div class="labels">
      <div
        class="ui blue horizontal label"
        *ngFor="let label of project.labels"
      >
        {{ label }}
      </div>
    </div>
  </div>
</div>
