$area-height: calc(90vh - 3vh);
$section-margin: 1em;
$section-height: calc(#{$area-height} - calc(#{$section-margin} * 2));

.info-area {
  display: flex;
  position: relative;
  flex-direction: row;
  height: $area-height;
  width: 100%;
  background-color: rgb(40, 44, 53);
}

.info-selection {
  color: white;
  width: 25%;
  display: table;
  height: $section-height;
  margin: $section-margin;
  // border: 2px solid grey;

  ul {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;

    li {
      border-top: 1px solid #ddd;
      padding: 2em;
      list-style: none;

      &:last-child {
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

.info-box {
  display: flex;
  justify-content: left;
  top: 50%;
  color: white;
  width: 75%;
  height: $section-height;
  margin: $section-margin;
  border: 2px solid grey;
}
