// mobile cutoff points
$cutoff_half: 950px;
$cutoff_tablet: 1024px;
$cutoff_mobile: 375px;

// info-zone size is based on
$area-height: calc(100vh - 3vh);
$section-margin: 1em;
$section-padding: 1em;

// helper calculations
$double-margin: calc(#{$section-margin} * 2);
$double-padding: calc(#{$section-padding} * 2);
$margin-padding: calc(#{$double-margin} + #{$double-padding});

// actual height that info zone internal sections are set to
$section-height: calc(#{$area-height} - #{$margin-padding});

// @media (max-width: $cutoff) {
// }
