---
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Zac Gibson">
	<main>
		<h1>Zac Gibson</h1>
		<Skills />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		background-color: transparent;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		color: #ffffffa9;
	}
</style>
