---
import Button from "../components/Button.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";

import githubIcon from "../assets/github-icon.svg";
import linkedinIcon from "../assets/linkedin-icon.svg";
import emailIcon from "../assets/email-icon.svg";
---

<Layout title="Zac Gibson">
	<main>
		<h1>Zac Gibson</h1>
		<h2>Software Engineer</h2>
		<Skills />
		<div class="button-stack">
			<Button icon="github" src={githubIcon.src} />
			<Button icon="linkedin" src={linkedinIcon.src} />
			<Button icon="email" src={emailIcon.src} />
		</div>
	</main>
</Layout>

<style>
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow-y: hidden;
		overflow-x: hidden;
		margin: 0;
	}
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;
		padding: 35vh 1.5rem 0 1.5rem;
		width: 90vw;
		height: calc(100% - 35vh);
		background-color: transparent;
	}
	h1 {
		font-size: 5rem;
		font-weight: 800;
		margin: 0;
		color: #ffffff;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 0;
		color: #f0f0f0;
	}
	.button-stack {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: auto;
	}

	/* dynamic media stuff  */
	@media (max-width: 800px) {
		h1 {
			font-size: 3.5rem;
		}
	}
	@media (max-width: 600px) {
		h1 {
			font-size: 3rem;
		}
	}
</style>
