<div class="container">
  <div class="landing-zone">
    <particles [params]="myParams" [width]="width" [height]="height"></particles>
    <div class="caption">
      <h1 class="name">Zac Gibson</h1>
      <h3 class="subtitle">Software Developer</h3>
    </div>
  </div>
  <div class="info-area">
    <div class="info-box">
      <p>This is an info box
      </p>
    </div>
    <div class="info-box">
      <p>This is an info box</p>
    </div>
    <div class="info-box">
      <p>This is an info boxs</p>
    </div>
  </div>
</div>