.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-zone {
  height: 100vh;
  width: 199%;
  background-color: rgb(25, 27, 28),
}

.caption {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  border: 2px solid grey;
}

.name {
  font-weight: bold;
  font-size: 5.5em;
  margin: 0;
}

.subtitle {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
}

.links {
}

.info-area {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  background-color: rgb(40, 44, 53);
}

.info-box {
  display: flex;
  justify-content: center;
  color: white;
  width: 25%;
  padding: 1em 1em 0 1em;
  margin: 1em 1em 0 1em;
  border: 2px solid grey;
}
