@import "../../../../assets/scss/modules/_vars.scss";

.grid {
  width: 100%;
}

.item {
  width: 25%;
  // margin: 0 !important; // override semantic segment margin and padding
  padding: 1em !important;
  background-color: #0f141a;
  color: #ddd;
  display: table-cell;
}

.test-out {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "title"
    "description"
    "icons";
  height: 100%;

  .title {
    text-align: center;
    grid-area: "title";
  }

  .description {
    text-align: left;
    grid-area: "description";
    vertical-align: middle;
  }

  .icons {
    align-content: center;
    grid-area: "icons";
    vertical-align: bottom;
  }
}

@media (max-width: $cutoff-half) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "left"
      "middle"
      "right";
  }

  .item {
    display: flex;
    width: auto;
  }
}

@media (max-width: $cutoff-half) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "left"
      "middle"
      "right";
  }

  .item {
    display: flex;
    width: auto;
  }
}
