<div class="grid">
  <div class="item" *ngFor="let cat of categories">
    <div class="section">
      <div class="title">
        <h2>{{ cat.title }}</h2>
      </div>
      <div class="description">
        <p>
          {{ cat.description }}
        </p>
      </div>
      <div class="icons">
        <div *ngFor="let iconSet of cat.icons" [ngSwitch]="iconSet.length">
          <div *ngSwitchCase="9" class="icon-set nine">
            <i *ngFor="let icon of iconSet" class="{{ icon }}"></i>
          </div>
          <div *ngSwitchCase="5" class="icon-set five">
            <i *ngFor="let icon of iconSet" class="{{ icon }}"></i>
          </div>
          <div *ngSwitchCase="6" class="icon-set six">
            <i *ngFor="let icon of iconSet" class="{{ icon }}"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
