<div class="grid">
  <div class="item left ui raised segment">
    <div class="title">
      <h2>Development</h2>
    </div>
    <div class="description">
      <p>
        Languages I've used in projects include but are not limited to:
        JavaScript (React, Electron, Angular, NodeJS), Java, Python, C#
        (ASP.NET)
      </p>
    </div>
    <div class="icons">
      <div class="icon-set">
        <!-- java -->
        <i class="devicon-java-plain-wordmark colored"></i>
        <!-- c# -->
        <i class="devicon-csharp-plain colored"></i>
        <!-- html5 -->
        <i class="devicon-html5-plain-wordmark colored"></i>
        <!-- js -->
        <i class="devicon-javascript-plain colored"></i>
        <!-- angular -->
        <i class="devicon-angularjs-plain colored"></i>
        <!-- react -->
        <i class="devicon-react-original-wordmark colored"></i>
        <!-- nodejs -->
        <i class="devicon-nodejs-plain colored"></i>
        <!-- electron -->
        <i class="devicon-electron-original colored"></i>
        <!-- python -->
        <i class="devicon-python-plain-wordmark colored"></i>
      </div>
      <div class="icon-set">
        <!-- c# -->
        <i class="devicon-csharp-plain colored"></i>
        <!-- html5 -->
        <i class="devicon-html5-plain-wordmark colored"></i>
        <!-- js -->
        <i class="devicon-javascript-plain colored"></i>
        <!-- angular -->
        <i class="devicon-angularjs-plain colored"></i>
        <!-- react -->
        <i class="devicon-react-original-wordmark colored"></i>
        <!-- nodejs -->
        <i class="devicon-nodejs-plain colored"></i>
        <!-- electron -->
        <i class="devicon-electron-original colored"></i>
        <!-- python -->
        <i class="devicon-python-plain-wordmark colored"></i>
        <!-- java -->
        <i class="devicon-java-plain-wordmark colored"></i>
      </div>
      <div class="icon-set">
        <!-- html5 -->
        <i class="devicon-html5-plain-wordmark colored"></i>
        <!-- js -->
        <i class="devicon-javascript-plain colored"></i>
        <!-- angular -->
        <i class="devicon-angularjs-plain colored"></i>
        <!-- react -->
        <i class="devicon-react-original-wordmark colored"></i>
        <!-- nodejs -->
        <i class="devicon-nodejs-plain colored"></i>
        <!-- electron -->
        <i class="devicon-electron-original colored"></i>
        <!-- python -->
        <i class="devicon-python-plain-wordmark colored"></i>
        <!-- java -->
        <i class="devicon-java-plain-wordmark colored"></i>
        <!-- c# -->
        <i class="devicon-csharp-plain colored"></i>
      </div>
    </div>
  </div>
  <div class="item middle ui raised segment">
    <div class="title">
      <h2>Networking</h2>
    </div>
    <div class="description">
      <p>
        Strong understanding of networking principles involved in deployment,
        security, and accessibility of network devices and services.
      </p>
    </div>
    <div class="icons"></div>
  </div>
  <div class="item right ui raised segment">
    <div class="title">
      <h2>Server Technologies</h2>
    </div>
    <div class="description">
      <p>
        I've deployed and managed many applications and services (including
        personal projects) in both Windows and Linux environments. I've utilized
        virtualization via VMs and Docker containers.
      </p>
    </div>
    <div class="icons"></div>
  </div>
</div>
