@import "../../../../assets/scss/modules/_vars.scss";

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . ."
    "left middle right"
    ". . ."
    ". . .";

  .item {
    text-align: center;
    padding: 0.25em;
  }

  .left {
    grid-area: left;
  }
  .middle {
    grid-area: middle;
  }
  .right {
    grid-area: right;
  }
}

@media (max-width: $cutoff-1) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "left"
      "middle"
      "right";
  }
}
