<div class="grid">
  <div class="item left">
    <h2>Development</h2>
    Languages I've used in projects include but are not limited to: JavaScript
    (React, Angular, NodeJS), Java, Python, C# (ASP.NET)
  </div>
  <div class="item middle">
    <h2>Networking</h2>
    Strong understanding of networking principles involved in deployment,
    security, and accessibility of network devices and services.
  </div>
  <div class="item right">
    <h2>Server Technologies</h2>
    I've deployed and managed many applications and services (including personal
    projects) in both Windows and Linux environments. I've utilized
    virtualization via VMs and Docker containers.
  </div>
</div>
