<div class="container">
	<div class="hstack">
		<div class="intro-text">
			<h2>I'm good at...</h2>
		</div>
		<div class="skill-display">
			<span id="skill" class="text-gradient"></span>
		</div>
	</div>
</div>

<script>
	const skills = [
		"DevOps",
		"Amazon Web Services",
		"Continous Integration",
		"Serverless Architectures",
		"Infrastructure as Code",
		"Docker",
		"Web Development",
		"Typescript",
	] as const;

	let currentSkillIndex = 1;
	const defaultInterval = 2000;
	const firstSkillInterval = 11000;

	while (true) {
		currentSkillIndex = (currentSkillIndex + 1) % skills.length;
		const element: HTMLElement | null = document.getElementById("skill");
		if (element != null) {
			element.innerText = skills[currentSkillIndex];

			if (currentSkillIndex === 0) {
				element.classList.add("main");
			} else {
				element.classList.remove("main");
			}

			element.classList.add("pop-in");

			element.addEventListener("animationend", (_a) => {
				element.classList.remove("pop-in");
			});
		}
		await new Promise((resolve) =>
			setTimeout(
				resolve,
				currentSkillIndex === 0 ? firstSkillInterval : defaultInterval,
			),
		);
	}
</script>

<style>
	.container {
		width: 100%;
	}
	.hstack {
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.intro-text,
	.skill-display {
		padding: 1rem;
		flex: 1;
	}
	.intro-text {
		text-align: right;
	}
	h2,
	.text-gradient {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 0;
		color: #ffffffa9;
	}
	.text-gradient {
		background-image: var(--accent-gradient-alt);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.text-gradient.main {
		background-image: var(--accent-gradient);
	}
	@keyframes pop-in {
		0% {
			opacity: 0;
			transform: scale(0.1);
		}
		100% {
			opacity: 1;
			transform: scale(0.7);
		}
	}
	.pop-in {
		will-change: "scale";
		animation: pop-in 0.3s ease-out;
	}
	@media (max-width: 800px) {
		.intro-text,
		.skill-display {
			flex-basis: 100%;
			text-align: center;
			vertical-align: bottom;
		}

		.intro-text {
			padding: 2rem 0rem 10px 0rem;
		}
		.skill-display {
			padding: 0px 0rem 0rem 0rem;
		}
	}
	@media (max-width: 600px) {
		h2 {
			font-size: 2rem;
		}
	}
</style>
