<div class="container">
	<div class="hstack">
		<div class="intro-text">
			<h2>I'm good at...</h2>
		</div>
		<div class="skill-display">
			<h2><span id="skill" class="text-gradient"> DevOps</span></h2>
		</div>
	</div>
</div>

<script>
	const skills = [
		"DevOps",
		"Continous Integration",
		"Amazon Web Services",
		"Serverless Architectures",
		"Infrastructure as Code",
		"Docker",
		"Web Development",
		"Typescript"
	] as const;

	let currentSkillIndex = 0;
	const defaultInterval = 1600;
	const firstSkillInterval = 6500;

	function changeSkill() {
		currentSkillIndex = (currentSkillIndex + 1) % skills.length;
		const element = document.getElementById("skill");
		if (element != null) {
			element.innerText = skills[currentSkillIndex];
		}
		let interval =
			currentSkillIndex === 0 ? firstSkillInterval : defaultInterval;
		setTimeout(changeSkill, interval);
	}

	setTimeout(changeSkill, firstSkillInterval);
</script>

<style>
	.container {
		width: 100%;
	}
	.hstack {
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.intro-text,
	.skill-display {
		padding: 1rem;
		flex: 1;
	}
	.intro-text {
		text-align: right;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 0;
		color: #ffffffa9;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	@media (max-width: 800px) {
		.intro-text,
		.skill-display {
			flex-basis: 100%;
			text-align: center;
			vertical-align: bottom;
		}

		.intro-text {
			padding: 2rem 0rem 10px 0rem;
		}
		.skill-display {
			padding: 0px 0rem 0rem 0rem;
		}
	}
	@media (max-width: 600px) {
		h2 {
			font-size: 2rem;
		}
	}
</style>
