@import "../../../../assets/scss/modules/_vars.scss";

.grid {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 0.5em;
  padding: 0.75em;
  background-color: #0f141a;
  color: #ddd;
  max-width: 34vw;
}

.item-grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 2em 1fr 1.6em;
  grid-template-areas:
    "icon name"
    "icon description"
    "icon labels";
  height: 10em;

  .icon {
    grid-area: icon;
    display: table;
    margin: 0 0.2em 0 0;

    .img {
      display: table-cell;
      vertical-align: middle;

      img {
        max-width: 7em;
      }
    }
  }

  .name {
    grid-area: name;
    margin: 0.2em;
  }

  .description {
    grid-area: description;
    margin: 0.2em;
    overflow-y: auto;
  }

  .labels {
    grid-area: labels;
    margin: 0.2em;

    div {
      font-size: 0.75em;
      padding: 0.2em;
    }
  }
}

@media (max-width: $cutoff-half) {
  .grid {
    width: 100%;
  }

  .item {
    max-width: 100%;
  }
}
