<div class="grid">
  <div class="item" *ngFor="let project of projects">
    <div class="item-grid">
      <div class="icon">
        <div class="img">
          <img src="{{ project.icon }}" />
        </div>
      </div>
      <h2 class="name">{{ project.name }}</h2>
      <div class="description">
        {{ project.description }}
      </div>
      <div class="labels">
        <div class="ui blue horizontal label" *ngFor="let label of project.labels">
            {{ label }}
        </div>
      </div>
    </div>
  </div>
</div>
