.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "item-1 item-2 item-3"
    "item-1 item-2 item-3"
    "item-1 item-2 item-3";
}
