---
import Particles from "astro-particles";
import type { ISourceOptions, SizeMode } from "tsparticles-engine";
import { RangeValue } from "tsparticles-engine";

const options: ISourceOptions = {
	autoPlay: true,
	background: {
		color: {
			value: "#101119",
		},
		opacity: 1,
	},
	backgroundMask: {
		composite: "destination-out",
		cover: {
			color: {
				value: "#fff",
			},
			opacity: 1,
		},
		enable: false,
	},
	delay: 0,
	fullScreen: {
		enable: true,
		zIndex: -100,
	},
	detectRetina: true,
	duration: 0,
	fpsLimit: 144,
	particles: {
		color: {
			value: "#ffffff",
		},
		move: {
			angle: {
				offset: 0,
				value: 90,
			},
			center: {
				x: 50,
				y: 50,
				mode: "percent" as SizeMode.percent,
				radius: 0,
			},
			decay: 0,
			distance: {},
			direction: "none",
			drift: 0,
			enable: true,
			outModes: {
				default: "out",
				bottom: "out",
				left: "out",
				right: "out",
				top: "out",
			},
			random: true,
			size: false,
			speed: {
				min: 0.0,
				max: 0.1,
			},
			spin: {
				acceleration: 0,
				enable: false,
			},
			straight: false,
			trail: {
				enable: false,
				length: 10,
				fill: {},
			},
			vibrate: false,
			warp: false,
		},
		number: {
			density: {
				enable: true,
				width: 2560,
				height: 1440,
			},
			limit: 0,
			value: 270,
		},
		opacity: {
			random: {
				enable: true,
				minimumValue: 0.1,
			},
			value: {
				min: 0,
				max: 1,
			},
			animation: {
				count: 0,
				enable: true,
				speed: 0.4,
				decay: 0,
				sync: false,
				destroy: "none",
				startValue: "random",
				minimumValue: 0.1,
			},
		},
		reduceDuplicates: false,
		shadow: {
			blur: 0,
			color: {
				value: "#000",
			},
			enable: false,
			offset: {
				x: 0,
				y: 0,
			},
		},
		shape: {
			options: {},
			type: "square",
		},
		size: {
			random: {
				enable: true,
				minimumValue: 1,
			},
			value: {
				min: 1,
				max: 3,
			},
		},
		stroke: {
			width: 0,
		},
		zIndex: {
			random: {
				enable: true,
				minimumValue: 10,
			},
			value: {
				min: 10,
				max: 10,
			},
		},
	},
	pauseOnBlur: true,
	pauseOnOutsideViewport: true,
	smooth: false,
	zLayers: 100,
};

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script>
	import { tsParticles } from "tsparticles-engine";
	import { loadFull } from "tsparticles";

	await loadFull(tsParticles);
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Zac Gibson is a DevOps Engineer" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="darkreader-lock" />
		<title>{title}</title>
	</head>
	<body>
		<div class="background-layer">
			<Particles id="tsparticles" options={options} />
		</div>
		<div class="content-layer">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 80, 58, 234;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#eca53a 30%,
			white 60%
		);
		--accent-gradient-alt: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#93a6f5 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #101119;
	}
	.background-layer,
	.content-layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90%;
	}
	.content-layer {
		z-index: 1;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
